<!DOCTYPE html>
<html>
    <head>
        <title>My Website!</title>
    </head>
    <body>
        <h1>Names</h1>

        <ul>
            {% for name in names %}
                <li>{{ name }}</li>
            {% endfor %}
        </ul>
    </body>
</html>

<!-- <!DOCTYPE html>
<html>
    <head>
        <title>Is it New Year?</title>
        <style>
            body {
                text-align: center;
            }
        </style>
    </head>
    <body>
        {% if new_year %}
            <h1>Yes! Happy New Year!</h1>
        {% else %}
            <h1>NO</h1>
        {% endif %}
    </body>
</html> -->



<!-- <!DOCTYPE html>
<html>
    <head>
        <title>My Website!</title>
    </head>
    <body>
        <h1>{{ headline }}</h1>
    </body>
</html> -->
